.aws/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*_ip
terraform/*.tfstate
terraform/*.tfstate.*

# ssh-keys
keys/*

# files created by packer
images/ami-control/manifest.json
images/ami-managed/manifest.json

