.aws/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*_ip
terraform/*.tfstate
terraform/*.tfstate.*

# ssh-keys
keys/*

# build files created by packer
images/ami-control/*.json
images/ami-managed/*.json

